In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("uciml/adult-census-income")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/uciml/adult-census-income?dataset_version_number=3...

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 450k/450k [00:01<00:00, 383kB/s]

Extracting files...
Path to dataset files: /home/ashi4evr1/.cache/kagglehub/datasets/uciml/adult-census-income/versions/3

In [3]:
import shutil
import os

In [4]:
shutil.copytree(path, "Task_1/data/raw", dirs_exist_ok = True)

file = os.listdir("Task_1/data/raw")
print(file)

['adult.csv']

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [7]:
df = pd.read_csv("Task_1/data/raw/adult.csv")

In [8]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [9]:
df.shape

(32561, 15)

In [10]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

<pre style = "background-color: red; border-radius: 20px; font-color: white; font-size: 24px;
text-align: center; padding: 10px; width: 90% ">
üè≥Ô∏èAbout the Datasetüè≥Ô∏è

<pre>

- This data was extracted from the 1994 Census bureau database.

- This is a prediction task dataset to determine whether a person makes over $50K a year.

<pre style = "background-color: blue; border-radius: 10px; font-color: white; font-size: px;
text-align: center; padding: 10px; width: 90% ">
Why choose this dataset?

<pre>

- This dataset have Mixed data types.
- Have missing vlaues
- Data cleaning is needed
- We can do categorical encoding and 
- Feature scaling as well. 

>> So, overall, this is perfect for demonstrating data understanding and preprocessing tasks.